header {
  background-color: #dedede;
  height: 40px;
  width: 100vw;
}
div {
  border: 1px dashed blue;
  box-sizing: border-box;
  display: inline-block;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
}
section {
  display: inline-block;
  float: right;
  padding-right: 50px;
}
